<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TOMCAT CALCULATOR</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
</head>
<body>
<div>
    <p class="hello" th:text="'HELLO ' + ${name}"></p>
</div>
<div>
    <input id="input" maxlength="60">
    <button onclick=calculateBrowser()>Calculate in browser</button>
    <button onclick=calculateServer()>Calculate on Server</button>
    <button onclick=calculateServerAdvanced()>Calculate on Server using fetch</button>
</div>
<div>
    <textarea id="output" cols="40"></textarea>
</div>
</body>

<script>
    const path = "/localhost:8085/";
    const input = document.getElementById("input");
    const output = document.getElementById("output");

    function calculateBrowser() {
        let inputString = input.value;
        let result = eval(inputString);
        output.innerHTML = result;
    }

    function calculateServer() {
        const xhr = new XMLHttpRequest();
        const body = String(input.value);
        xhr.open("POST", path);
        xhr.setRequestHeader('Content-Type', 'application/text');
        xhr.send(body);

        xhr.onload = () => {
            const result = xhr.responseText;
            output.innerHTML = result;
        }
    }

    async function calculateServerAdvanced() {
        const stringBody = String(input.value);

        requestObject = {
            method: "POST",
            body: stringBody,
            headers: new Headers({'Content-Type': 'application/text'})
        };

        const request = new Request(path, requestObject);

        await fetch(request)
            .then(response => response.text())
            .then(result => {
                output.innerHTML = result;
            });
    }

</script>
</html>