
<web-app>

    <display-name>Simple Servlet Application</display-name>
    <servlet>
        <servlet-name>HelloTomcat</servlet-name>
        <servlet-class>TomcatServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloTomcat</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

</web-app>